@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.table-students-mark,
tr,
td,
th {
    border-collapse: collapse;
    border: 1px solid #cccccc73;
}
.table-scroll {
    overflow-x: scroll;
}
.table-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(29, 3, 143, 0.603);
    background-color: #000000;
}

.table-scroll::-webkit-scrollbar {
    height: 10px;
    background-color: #0c0909;
}

.table-scroll::-webkit-scrollbar-thumb {
    background-color: #3804f5;
    border: 2px solid #020a55;
}
.home-page {
    background-image: url(../assets/bg.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

